<!--<ion-header-bar class="bar-dark">

  <button class='button icon ion-arrow-left-a' ng-click='goToGallery()'></button>
  <h1 class="title">Ionic Shopping Cart</h1>
</ion-header-bar>

<ion-content>
  <ion-cart products='cartProducts'></ion-cart>
</ion-content>

<ion-cart-footer path='checkoutPath'></ion-cart-footer>-->

 <!-- changes done by raj
-->


  <ion-header-bar class="bar-dark">
    <button class='button icon ion-arrow-left-a' ng-click='goToGallery()'></button>
    <h1 class="title">Ionic Shopping Cart</h1>
  </ion-header-bar>
  <ion-tabs class="tabs-top">
    <ion-tab title="Selected items">
      <ion-content>
        <ion-cart products='cartProducts'></ion-cart>
      </ion-content>
    </ion-tab>
    <ion-tab title="tab2">
      <h1>hi...........</h1>
    </ion-tab>
  </ion-tabs>


  <ion-cart-footer path='checkoutPath'></ion-cart-footer>
